version: "2"
services:
  api: 
    image: amazingTalkerHW
    container_name: "api"
    command: npm run start
    build: .
    ports:
      - "1337:1337"
    volumes:
      - .:/usr/src/app
    networks:
      vpcbr:
        ipv4_address: 10.9.0.11
  mydb:
    container_name: "mydb"
    build: ./build/docker/db/
    environment: 
      MYSQL_USER: "db_user"
      MYSQL_PASSWORD: "test1234"
      MYSQL_ROOT_PASSWORD: "test1234"
      MYSQL_DATABASE: "mydb"
    ports:
      - "3308:3306"
    networks:
      vpcbr:
        ipv4_address: 10.9.0.111

networks:
  vpcbr:
      driver: bridge
      ipam:
        config:
          - subnet: 10.9.0.0/16